.menu{
    display: flex;
    width: 100%;
    top: 0;
    background-color: #0ab8bb;
    position: sticky;
    z-index: 3;
    padding: 28px 8%;
}
.nav-menu{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: aliceblue;
}
.nav-list{
    display: flex;
    list-style: none;
    gap: 48px;
}
.nav-item .nav-link{
    text-decoration: none;
    color: var(--cor-neutra-1);
    font-weight: 600;
}